---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				min-height: 100vh;
				display: flex;
				align-items: stretch;
				flex-direction: column;
			}
			main {
				flex: 1;
        margin: 0 auto;
        max-width: 900px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div>
				<p>プロトタイピングコンテスト開催中</p>
				<p>詳しくは<a href="https://note.com/_dotd/n/n88618c782c09">こちら</a></p>
				<p>エントリーは<a href="https://docs.google.com/forms/d/e/1FAIpQLScapLzIF5uKPDq_OBmuc_wWS6-KswovX9Af22ZNl0QNha35sw/viewform">こちら</a></p>
			</div>
		</main>
		<Footer />
	</body>
</html>
