---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h1><a href="https://note.com/_dotd/n/n88618c782c09"><img src="/logo.svg" alt="Prototyping Contest"></a></h1>
</header>
<style>
	header {
		margin: 0;
		padding: 1rem 2.5rem;
	}
	h1 {
		margin: 0;
		font-size: 1em;
	}

	h1 a,
	h1 a.active {
		text-decoration: none;
	}
</style>
