---
import '@fontsource-variable/noto-sans-jp';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
        margin: 0 auto;
        max-width: 900px;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
